#main {
  width: 900px;
}

#img1 {
  border-radius: 5px;
  width: 75px;
  height: 75px;
}

.ccard {
  padding-top: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

#btn6 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#img6 {
  padding-bottom: 50px;
  border: 10px;
  width: 200px;
  height: 300px;
}

#img7 {
  padding-bottom: 50px;
  border: 10px;
  width: 300px;
  height: 200px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

#img1 {
  border-radius: 5px;
}

h5 {
  text-align: center;
  color: rgb(52, 252, 255);
  font-family: cursive;
  font-size: 25px;
}

#btn5 {
  margin-left: 10px;
  float: right;
  background-color: rgb(255, 255, 40);
  color: rgb(254, 100, 100);
  width: 100px;
  height: 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-width: 0px;
  font-weight: 1000;
}

h4 {
  font-family: cursive;
  font-size: 50px;
  color: rgb(52, 252, 255);
  margin-left: 400px;
  margin-top: 100px;
}

h2 {
  margin-top: 100px;
  font-family: cursive;
  text-align: center;
  color: rgb(52, 252, 255);
  font-size: 100px;
}

body {
  background-image: url(background.png);
  background-position: center;
  background-size: 5000px;
}

h1 {
  color: rgb(255, 255, 40);
  margin: 0;
  display: inline-block;
}

#btn1 {
  margin-left: 10px;
  float: right;
  background-color: rgb(254, 100, 100);
  color: rgb(255, 255, 255);
  width: 100px;
  height: 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-width: 0px;
  font-weight: 1000;
}

#btn1:hover {
  background-color: rgb(255, 255, 40);
  color: rgb(254, 100, 100);
  animation: shake 2s linear infinite;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes wiggles {

  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}