#main {
    width: 900px;
}

video {
    margin-top: 100px;
    border-radius: 10px;
    margin-left: 700px;
}

#img1 {
    border-radius: 5px;
}

h5 {
    margin-top: -50px;
    font-family: cursive;
    text-align: center;
    color: rgb(255, 255, 40);
    font-size: 50px;
}

html,
body {
    max-width: 100%;
    overflow: visible;
}

#img1 {
    width: 75px;
    height: 75px;
}

#btn5 {
    margin-left: 10px;
    float: right;
    background-color: rgb(255, 255, 40);
    color: rgb(254, 100, 100);
    width: 100px;
    height: 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-width: 0px;
    font-weight: 1000;
}

hr {
    margin-top: 150px;
    height: 10px;
    width: 1905px;
    margin-left: -10px;
    background-color: rgb(254, 100, 100);
    border: 0px;
}

h2 {
    margin-top: 100px;
    font-family: cursive;
    text-align: center;
    color: rgb(52, 252, 255);
    font-size: 100px;
}

#txt1 {
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
    margin-left: 75px;
    color: rgb(254, 100, 100);
    font-size: 25px;
}

body {
    background-image: url(background.png);
    background-position: center;
    background-size: 4000px;
}

h1 {
    color: rgb(255, 255, 40);
    margin: 0;
    display: inline-block;
}

#img2 {
    width: 200px;
    height: 200px;
    margin-left: 100px;
    border-radius: 100px;
    margin-top: 50px;
}

#btn1 {
    margin-left: 10px;
    float: right;
    background-color: rgb(254, 100, 100);
    color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-width: 0px;
    font-weight: 1000;
}

#btn2 {
    margin-left: 800px;
    background-color: rgb(87, 214, 87);
    color: rgb(255, 255, 255);
    width: 300px;
    height: 100px;
    border-radius: 25px;
    border-width: 0px;
    font-size: 75px;

}

#btn2:hover {
    background-color: rgb(87, 250, 87);
    animation: spin 0.5s linear infinite;
}

#btn1:hover {
    background-color: rgb(255, 255, 40);
    color: rgb(254, 100, 100);
    animation: shake 2s linear infinite;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes wiggles {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}